
.dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    margin-top: 1px;
    background-color: #fff;
    max-height: 400px;
    width: 100%;
    overflow-y: auto;
    border-radius: 0 0 2px 2px;

    /* Scrollbar design and color to match the theme */
    &::-webkit-scrollbar { width: 1em; }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    &::-webkit-scrollbar-track-piece { background-color: #fff; }
    &::-webkit-scrollbar-thumb {
        background-color: #fff;
        outline: 1px solid slategrey;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

    &.darkTheme {
        /* Scrollbar design and color to match the theme */
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }
        &::-webkit-scrollbar-track-piece { background-color: #444; }
        &::-webkit-scrollbar-thumb {
            background-color: #eee;
            outline: 1px solid slategrey;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
    }
}


.dropdown.open {
    display: block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 50px;
}

.no-results,
.dropdown-option-group-title {
    height: 32px;
    line-height: 32px;
    color: rgba(66,66,66,0.56);
    font-weight: 400;
    font-size: 14px;
    padding-left: 60px;
}

.option {
    font-size: 13px;
    line-height: 1em;
}

.option,
.option-btn {
    background-color: #fff;
    color: #333;

    &:hover {
        background-color: #333;
        color: #fff;
    }

    &.darkTheme {
        background-color: #333;
        color: #fff;
        > option-title {
           color: white;
        }
         &:hover {
            background-color: #eeeeee;
            color: #333;
        }
    }
}
.option.highlight .option-body {
    color: rgba(255,255,255,0.56);
}
.option.highlight .option-icon {
    color: rgba(255,255,255,0.9);
}

.right-toggle .option,
.right-toggle .no-results {
    padding-left: 12px;
}
.left-toggle .option,
.left-toggle .no-results {
    padding-left: 20px;
}

.option-btn {
    display: flex;
    align-items: center;
    padding: 10px 12px 10px 0;
    text-align: left;
    word-break: break-all;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.9);
}
.option-btn.new-option {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.add-new-tag {
    display: flex;
    align-items: center;
    font-weight: 700;
}
.option-btn .material-icons {
    font-size: 14px;
}

.option-icon {
    margin-right: 8px;
    color: rgba(33,33,33,.80);
}

.option-title {
    display: block;
    font-family: "Lato";
    font-weight: 400;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}

.option-body {
    display: block;
    color: rgba(0,0,0,0.56);
    font-family: "Lato";
    font-weight: 400;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}
