
/**
 *  <SelectBox />
 */
.container {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2px;
    min-height: 48px;
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 0;
    position: relative;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.container.open {
    border-radius: 2px 2px 0 0;
}
.container:hover,
.container.open {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.container:hover .toggle-btn,
.container.open .toggle-btn {
    color: rgba(0,0,0,0.87);
}
